<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="efef64">  <td>18/11/25 17:04:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC001_LoginLogout@dc24521]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1663411182</td>   <td></td> </tr>
<tr bgcolor="efef64">  <td>18/11/25 17:04:30</td>   <td>23885</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC002_CreateLead@10bdf5e5]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1663411182</td>   <td></td> </tr>
<tr bgcolor="efef64">  <td>18/11/25 17:04:58</td>   <td>52157</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC003_DeleteLead@6e1ec318]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1663411182</td>   <td></td> </tr>
<tr bgcolor="efef64">  <td>18/11/25 17:05:27</td>   <td>81545</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC003_DeleteLead@6e1ec318]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1663411182</td>   <td></td> </tr>
<tr bgcolor="efef64">  <td>18/11/25 17:05:28</td>   <td>82360</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testcases.TC001_LoginLogout@dc24521]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663411182</td>   <td></td> </tr>
<tr bgcolor="efef64">  <td>18/11/25 17:05:28</td>   <td>82301</td> <td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterTest()[pri:0, instance:testcases.TC001_LoginLogout@dc24521]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663411182</td>   <td></td> </tr>
<tr bgcolor="efef64">  <td>18/11/25 17:03:52</td>   <td>-13955</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcases.TC001_LoginLogout@dc24521]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663411182</td>   <td></td> </tr>
<tr bgcolor="efef64">  <td>18/11/25 17:04:07</td>   <td>676</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcases.TC002_CreateLead@10bdf5e5]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663411182</td>   <td></td> </tr>
<tr bgcolor="efef64">  <td>18/11/25 17:04:30</td>   <td>23887</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcases.TC003_DeleteLead@6e1ec318]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663411182</td>   <td></td> </tr>
<tr bgcolor="efef64">  <td>18/11/25 17:03:53</td>   <td>-12860</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC001_LoginLogout@dc24521]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1663411182</td>   <td></td> </tr>
<tr bgcolor="efef64">  <td>18/11/25 17:04:07</td>   <td>800</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC002_CreateLead@10bdf5e5]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1663411182</td>   <td></td> </tr>
<tr bgcolor="efef64">  <td>18/11/25 17:04:30</td>   <td>23991</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC003_DeleteLead@6e1ec318]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1663411182</td>   <td></td> </tr>
<tr bgcolor="efef64">  <td>18/11/25 17:04:59</td>   <td>52842</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC003_DeleteLead@6e1ec318]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1663411182</td>   <td></td> </tr>
<tr bgcolor="efef64">  <td>18/11/25 17:03:50</td>   <td>-15438</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcases.TC001_LoginLogout@dc24521]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663411182</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>18/11/25 17:04:11</td>   <td>5546</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC002_CreateLead@10bdf5e5]">createLead</td> 
  <td>main@1663411182</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/11/25 17:04:35</td>   <td>28613</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC003_DeleteLead.deleteLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC003_DeleteLead@6e1ec318]">deleteLead</td> 
  <td>main@1663411182</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/11/25 17:05:04</td>   <td>57984</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC003_DeleteLead.deleteLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC003_DeleteLead@6e1ec318]">deleteLead</td> 
  <td>main@1663411182</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>18/11/25 17:03:59</td>   <td>-6498</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginLogout.loginLogout(java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001_LoginLogout@dc24521]">loginLogout</td> 
  <td>main@1663411182</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>18/11/25 17:03:52</td>   <td>-13972</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_LoginLogout.setData()[pri:0, instance:testcases.TC001_LoginLogout@dc24521]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663411182</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>18/11/25 17:03:52</td>   <td>-13971</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_CreateLead.setData()[pri:0, instance:testcases.TC002_CreateLead@10bdf5e5]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663411182</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/11/25 17:03:52</td>   <td>-13971</td> <td>&nbsp;</td><td title="&gt;&gt;TC003_DeleteLead.setData()[pri:0, instance:testcases.TC003_DeleteLead@6e1ec318]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663411182</td>   <td></td> </tr>
</table>
